<main>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="booking-form">
              <div class="form-header">
                <h1>Nueva Tarea</h1>
              </div>
              <form method="post" action="/objetos/guardar" enctype="multipart/form-data" style="display:grid">
                <div class="row">
                  <div class="col-sm-6">
                    <select name="usuario" id="">
                      <option value="Usuario">usuario1</option>
                      <option value="Usuario">usuario2</option>
                      <option value="Usuario">usuario3</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Tarea</span>
                      <input class="form-control" name="nombre" id="nombre" placeholder="nombre" value="{{nombre}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Descripción</span>
                      <input class="form-control" name="telefono" id="telefono" placeholder="telefono"
                        value="{{telefono}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Puntuación</span>
                      <input type="number" class="form-control" name="titulo" id="titulo" placeholder="titulo"
                        value="{{titulo}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Fecha</span>
                      <input type="date" class="form-control" name="descripcion" id="descripcion"
                        placeholder="descripcion" value="{{descripcion}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                  </div>
                  <input class="form-btn" type="submit" class="btn btn-primary" value="Guardar">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </form>
  {{#if errores}}
  <div class="row">
    <div class="col-12">
      {{#each errores}}
      <p>{{error}}</p>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-12">
      {{!-- <p>Cita guardada con éxito</p> --}}
    </div>
  </div>
  {{/if}}
  </div>
</main>
{{ session.user }}